img#woooo {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

wooo {
    display: flex;
}

#mute {
    position: absolute;
    top: 0;
    right: 0;

    width: 5rem;
    height: 5rem;
    background-color: grey;

    cursor: pointer;

    p {
        font-family: Arial;
        font-size: 1.25rem;
        font-weight: bold;
        transform: rotate(45deg) translate(1.25rem, 1rem);
    }


    &:hover {
        width: 7rem;
        height: 7rem;

        p {
            font-size: 2rem;
            transform: rotate(45deg) translate(1.25rem, 0.5rem);
        }
    }
}

.wooo {
    animation: shake 500ms normal;
    pointer-events: none;
}

.hahawooo {
    animation: shake 5000ms normal;
    pointer-events: none;
}

wooo {
    background-color: grey;
    padding: 1rem;
}

wooo.stylin {
    background-color: red;

    img#woooo {
        -webkit-mask-image: radial-gradient(transparent 10%, black);
        animation: shake 400ms infinite;
        pointer-events: none;
        align-self: center;
    }

    #mute {
        display: none;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg) scale(1.00);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg) scale(1.05);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg) scale(1.1);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg) scale(1.15);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg) scale(1.20);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg) scale(1.25);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg) scale(1.20);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg) scale(1.15);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg) scale(1.10);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg) scale(1.05);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg) scale(1.00);
    }
}
